  <div class="usersSearch section margin">
    <h2>Search by Name</h2>
    
  </div>
  
  <div class="usersList section">
    <% @users.each do |user| %>
        
            <p><%= user.profile.name %></p>
    
    <% end %>
</div>